Here, I'm going to establish a 2nd benchmark for my model. The first benchmark was simply submiting Kaggle's sample_submission.csv and getting a score of 0.40890. Now I'm going to do something: take the average price by neighborhood and use it as prediction on the test set - that is, the predicted price for each house will be the mean price of houses on the same neighborhood.

Good luck!

In [5]:
import numpy as np
import pandas as pd

In [7]:
train = pd.read_csv('../data/train.csv')[['Id', 'Neighborhood', 'SalePrice']]
test = pd.read_csv('../data/test.csv')[['Id', 'Neighborhood']]

In [20]:
print train['Neighborhood'].unique()
print test['Neighborhood'].unique()

['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']
['NAmes' 'Gilbert' 'StoneBr' 'BrDale' 'NPkVill' 'NridgHt' 'Blmngtn'
 'NoRidge' 'Somerst' 'SawyerW' 'Sawyer' 'NWAmes' 'OldTown' 'BrkSide'
 'ClearCr' 'SWISU' 'Edwards' 'CollgCr' 'Crawfor' 'Blueste' 'IDOTRR'
 'Mitchel' 'Timber' 'MeadowV' 'Veenker']

In [24]:
set(train['Neighborhood']) == set(test['Neighborhood'])

True

Now that I imported data and verified the test neighborhood set is a subset of the training neighborhood set (they are actualy the same), the fun may begin.

In [29]:
neighborhoods = train['Neighborhood'].unique()
neighborhoods.sort()
neighborhoods

array(['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 'CollgCr',
       'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR', 'MeadowV', 'Mitchel',
       'NAmes', 'NPkVill', 'NWAmes', 'NoRidge', 'NridgHt', 'OldTown',
       'SWISU', 'Sawyer', 'SawyerW', 'Somerst', 'StoneBr', 'Timber',
       'Veenker'], dtype=object)

Let's generate our predictions...

In [32]:
avg_price_neigh = pd.DataFrame({'Neighborhood': neighborhoods, 'AvgSalePrice': [train[train['Neighborhood'] == neigh]['SalePrice'].mean() for neigh in neighborhoods]})
avg_price_neigh

     AvgSalePrice Neighborhood
0   194870.882353      Blmngtn
1   137500.000000      Blueste
2   104493.750000       BrDale
3   124834.051724      BrkSide
4   212565.428571      ClearCr
5   197965.773333      CollgCr
6   210624.725490      Crawfor
7   128219.700000      Edwards
8   192854.506329      Gilbert
9   100123.783784       IDOTRR
10   98576.470588      MeadowV
11  156270.122449      Mitchel
12  145847.080000        NAmes
13  142694.444444      NPkVill
14  189050.068493       NWAmes
15  335295.317073      NoRidge
16  316270.623377      NridgHt
17  128225.300885      OldTown
18  142591.360000        SWISU
19  136793.135135       Sawyer
20  186555.796610      SawyerW
21  225379.837209      Somerst
22  310499.000000      StoneBr
23  242247.447368       Timber
24  238772.727273      Veenker

In [65]:
preds = [avg_price_neigh[avg_price_neigh['Neighborhood'] == neigh]['AvgSalePrice'] for neigh in test['Neighborhood']]
# preds is a list of one-valued pd.Series, so let's fix it...
preds = [pred.values[0] for pred in preds]

In [82]:
predictions = pd.DataFrame({'Id': test['Id'], 'SalePrice': preds})
predictions

        Id      SalePrice
0     1461  145847.080000
1     1462  145847.080000
2     1463  192854.506329
3     1464  192854.506329
4     1465  310499.000000
5     1466  192854.506329
6     1467  192854.506329
7     1468  192854.506329
8     1469  192854.506329
9     1470  145847.080000
10    1471  145847.080000
11    1472  104493.750000
12    1473  104493.750000
13    1474  142694.444444
14    1475  142694.444444
15    1476  316270.623377
16    1477  316270.623377
17    1478  316270.623377
18    1479  316270.623377
19    1480  316270.623377
20    1481  316270.623377
21    1482  316270.623377
22    1483  192854.506329
23    1484  194870.882353
24    1485  192854.506329
25    1486  192854.506329
26    1487  335295.317073
27    1488  225379.837209
28    1489  225379.837209
29    1490  225379.837209
...    ...            ...
1429  2890  100123.783784
1430  2891  100123.783784
1431  2892  100123.783784
1432  2893  100123.783784
1433  2894  100123.783784
1434  2895  210624.725490
1435  2896  210624.725490
1436  2897  156270.122449
1437  2898  156270.122449
1438  2899  156270.122449
1439  2900  156270.122449
1440  2901  242247.447368
1441  2902  242247.447368
1442  2903  242247.447368
1443  2904  242247.447368
1444  2905  156270.122449
1445  2906  156270.122449
1446  2907   98576.470588
1447  2908  156270.122449
1448  2909  156270.122449
1449  2910   98576.470588
1450  2911   98576.470588
1451  2912  156270.122449
1452  2913   98576.470588
1453  2914   98576.470588
1454  2915   98576.470588
1455  2916   98576.470588
1456  2917  156270.122449
1457  2918  156270.122449
1458  2919  156270.122449

[1459 rows x 2 columns]

Time to submit!

In [83]:
predictions.to_csv('../data/avg_neighborhood_submission.csv', index=False)

The obtained score now was 0.27484 - a clear improvement. My leaderboard position was, at the time of submission, 2137th out of 2344. I didn't realy expect much, but I'm sure I can do better than that.